{% extends "viz/base.html" %}

{% block content %}
<div>
  <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
$(function () {
    var ctx = document.getElementById("myChart").getContext("2d");
    var url = "http://localhost:8000/api/gaitmeasurements/";

    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [
                {
                    fill: false,
                    backgroundColor: "rgba(0,0,0,.6)",
                    borderColor: "rgba(255,165,0,1)",
                    pointRadius: 4,
                    pointBackgroundColor: "rgba(0,0,0,.6)",
                    data: [],
                    tension: 0.2,
                }
            ]
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: "Gait Speed Measurements for the Past 100 Days",
                    font: {
                        size: 25,
                    }
                },
                legend: {
                    display: false,
                }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        //unit: 'day',
                        displayFormats: {
                            day: 'MM-dd',
                        },
                        stepSize: 7,
                    },
                    title: {
                        display: true,
                        text: 'Date',
                        font: {
                            size: 17,
                        }

                    }
                },
                y: {
                    suggestedMin: 0,
                    suggestedMax: 2,
                    title: {
                        display: true,
                        text: 'Gait Speed (m/s)',
                        font: {
                            size: 17,
                        }
                    },
                },
            },
        }
    });

    ajax(myChart, url);

    function ajax(chart, url) {
        var labels = [];
        var data = [];

        $.getJSON(url, data).done(function(response) {
            for (i = 0; i < response.results.length; i++) {
                labels.push(new Date(response.results[i].date));
                data.push(response.results[i].speed);
            }

            chart.data.labels = labels;
            chart.data.datasets[0].data = data;
            chart.update();
        });
    }
});
</script>

{% endblock %}
